body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, rgb(255, 0, 0), rgb(0, 90, 226), rgb(132, 0, 255), rgb(0, 0, 0));
    }

.grid {
	width: 300px;
	height: 300px;
	border: solid black 20px;
	display: flex;
	flex-wrap: wrap;
}

.grid div {
	width: 20px;
	height: 20px;
}

.invader {
	background-color: purple;
	border-radius: 10px;
}

.shooter {
	background-color: green;
}

.laser {
	background-color: orange;
}

.boom {
	background-color: red;
}